
// base colors
$primary: #0077b6; 
$secondary: #2b9348;
$body: #cae9ff;
$text: #6c757d;
$textLight: #adb5bd;
$title: #343a40;
$warning: #e07a5f;
$validation: #81b29a;

// colors
$black: #212529;
$white: #FFFFFF;

// global size
$xxl: 30px;
$xl: 24px;
$l: 20px;
$m: 16px;
$s: 12px;
$xs: 10px;
$xxs: 8px;

// radius
$radius: 30px;
$circle: 50px;

// font sizes
$largeTitle: 50px;

// font style
$bold: 700;
$medium: 600;

// font family
$bodyFont: 'Poppins', sans-serif;