

.login {
    background-color: #0077b6;
    .form {
        @include view(tablet) {
            max-width: 540px;
        }
        padding: $s 0;
        display: grid;
        grid-template-columns: 1fr 1fr max-content;
        column-gap: $xs;
        .field {
            display: grid;
            grid-template-rows: $m 1fr $m;
            row-gap: $xxs;
            .label { font-size: $s; color: $white; }
            .input { font-size: $s; background-color: $white; padding: $xxs; width: 100%; }
            .forgot_password { width: fit-content; font-size: $xs; color: $textLight; }
        }
        .btn { 
            align-self: center;
            height: fit-content;
            padding: $xxs;
            border: 1px solid $text;
            border-radius: 5px;
            background-color: #0386cc; 
            color: $white; 
        }
    }
}


