

* { margin: 0; padding: 0; box-sizing: border-box; }

::-webkit-scrollbar { display: none; }

html { scroll-behavior: smooth; }
        
body { 
    font-family: $bodyFont; 
    font-size: $m;
    color: $text;
    background-color: $body;
}

h1,h2,h3 { 
    color: $title; 
    font-weight: $medium; 
}

a { text-decoration: none; }

img { max-width: 100%; object-fit: contain; height: auto; }

button, input {
    outline: none;
    border: none;
    background: none;
}

button { cursor: pointer; }


.container {
    max-width: 768px;
    margin: 0 1rem;
    @include view(pc) {
        margin: 0 auto;
    }
}



